html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; /* Ensure full width */
}
html {
  scroll-behavior: smooth;
}

#root {
  max-width: 100%;
  width: 100%;
}

.homepage-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #9b59b6; /* Violet color */
  padding: 20px;
  max-height: 10vh;
  color: white;

  height: 4.5vh;
  position: fixed; /* Fixes the header at the top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Keeps the header above other content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.card1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80vh;
  width: auto;
  height: 7vh; /* Updated height */
  border-radius: 30px;
  background: #1f1e1e;
  border: solid rgba(255, 255, 255, 0) 0.3px;
  padding-right: 2em;
  padding-left: 2em;
  /* margin-right: 20em; */

  box-shadow: 3px 3px 6px #6e2c9198,
    /* Subtle darker violet shadow */ -3px -3px 6px #00000000; /* Subtle lighter violet highlight */
}

.homepage-header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
}

.homepage-header nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: medium;
}
.homepage-header nav ul li:hover {
  background-color: #f0f0f02b;
  color: #e6a8ff;
}
.homepage-header nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 1px;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 0.8em;
}

/* * -------------------------------------- main --------------------------------------------------- */

.homepage-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
  margin-top: 4em;
  background-color: #dedede;
  background: #9b59b6;
  width: 100%; /* Ensure full width */
  gap: 2em;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;

  width: auto;
  color: rgb(0, 0, 0);
  padding: 3em;
  height: auto;
  border-radius: 30px;
  background: #fffefeef; /* Semi-transparent white background */

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),
    /* Increased shadow size and opacity */ -5px -5px 15px
      rgba(255, 255, 255, 0.2); /* Increased highlight size and opacity */
  background: #9b59b6;
  box-shadow: 5px 5px 15px #6e2c91,
    /* Increased shadow size and opacity */ -5px -5px 15px #00000000; /* Adjusted highlight
     */
  /* background: #1f1e1e; */
  padding: 2em;
  /* font-family: sans-serif; */
}
.card_box1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: flex-start;

  width: auto;
  color: rgb(0, 0, 0);
  padding: 3em;
  height: auto;
  border-radius: 30px;
  background: #fffefeef; /* Semi-transparent white background */

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),
    /* Increased shadow size and opacity */ -5px -5px 15px
      rgba(255, 255, 255, 0.2); /* Increased highlight size and opacity */
  /* background: #9b59b6;  */
  box-shadow: 5px 5px 15px #6e2c91,
    /* Increased shadow size and opacity */ -5px -5px 15px #00000000; /* Adjusted highlight
     */
  /* background: #1f1e1e; */
  font-family: sans-serif;
}
.card h1 {
  color: #9b59b6;
  /* border: solid black 1px; */
  margin-bottom: -0.1em;
  font-size: 4em;
  margin-top: -0.2em;
}
.card p {
  /* border: solid black 1px; */
  margin-bottom: 2em;
  padding: 0.5em;
  color: #908e8e;
  font-size: 1em;

  background-color: rgba(255, 255, 255, 0);
  border-radius: 1em;
}
.mern {
  /* border: solid black 1px; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-bottom: 2em;
}
.mongo {
  width: 7vh;
  height: 7vh;
  background-color: rgb(0, 0, 0);
  border-radius: 10000px;
  background-image: url("https://img.icons8.com/?size=100&id=bosfpvRzNOG8&format=png&color=000000"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: solid black 1px; */
}
.react {
  width: 7vh;
  height: 7vh;
  background-color: rgb(0, 0, 0);
  border-radius: 10000px;
  background-image: url("https://img.icons8.com/?size=100&id=9vlfB9hjA1lX&format=png&color=000000"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: solid black 1px; */
}
.nodejs {
  width: 7vh;
  height: 7vh;
  background-color: rgb(0, 0, 0);
  border-radius: 10000px;
  background-image: url("https://img.icons8.com/?size=100&id=hsPbhkOH4FMe&format=png&color=000000"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: solid black 1px; */
}
.expressjs {
  width: 7vh;
  height: 7vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10000px;
  background-image: url("https://img.icons8.com/?size=100&id=PZQVBAxaueDJ&format=png&color=000000"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: solid black 1px; */
}
.side1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40vh;
  width: auto;
  min-height: 60vh;
  height: auto;
  border-radius: 30px;
  background: #9b59b6; /* Violet color */
  box-shadow: 5px 5px 15px #6e2c91,
    /* Increased shadow size and opacity */ -5px -5px 15px #00000000; /* Adjusted highlight */
  padding: 2em;
  gap: 0.1em;
  /* border: solid black 1px; */
  font-family: sans-serif;
}

.Dp {
  width: 19vh;
  height: 19vh;
  background-color: white;
  border-radius: 1000px;
  background-image: url("https://i.pinimg.com/550x/e9/71/13/e9711369575daa315e5f4239c3536363.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid black 1px;
  margin-top: -2em;
}
.myinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1em;
  height: auto;
  width: 30vh;
  box-shadow: 5px 5px 15px #6e2c91,
    /* Increased shadow size and opacity */ -5px -5px 15px #00000000;
  /* background-color: rgb(255, 255, 255);
  border: solid rgb(255, 0, 0) 1px; */
  padding: 1em;
  gap: 2em;
}

.side1 p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(62, 62, 62);
  font-size: large;
  font-weight: 5px;
  border-radius: 1em;
  width: 10em;
  height: 2em;
  text-align: center;
  margin-bottom: 1em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),
    /* Increased shadow size and opacity */ -5px -5px 15px
      rgba(255, 255, 255, 0.2); /* Increased highlight size and opacity */
  /* background: #9b59b6;  */
  box-shadow: 5px 5px 15px #6e2c91,
    /* Increased shadow size and opacity */ -5px -5px 15px #00000000;
  color: #ffffff;
}
.my_inf {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 0.3em;
  font-size: 0.9em;
  gap: 0.6em;
  /* border: solid red 1px; */
  text-align: start;
  color: grey;
}

.mylogoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0.5em;

  border-radius: 0.5em;
  background: #ffffff; /* Violet color */
}
.mylogoes_1 {
  width: 4vh;
  height: 4vh;

  border-radius: 10000px;
  background-image: url("https://img.icons8.com/?size=100&id=xuvGCOXi8Wyg&format=png&color=000000"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: solid black 1px; */
}
.mylogoes_2 {
  width: 4vh;
  height: 4vh;

  border-radius: 10000px;
  background-image: url("https://img.icons8.com/?size=100&id=AZOZNnY73haj&format=png&color=000000"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: solid black 1px; */
}
.mylogoes_3 {
  width: 4vh;
  height: 4vh;

  border-radius: 10000px;
  background-image: url("https://img.icons8.com/?size=100&id=LPcVDft9Isqt&format=png&color=000000"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: solid black 1px; */
}
.mylogoes_4 {
  width: 4vh;
  height: 4vh;

  border-radius: 10000px;
  background-image: url("https://img.icons8.com/?size=100&id=13731&format=png&color=000000"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: solid black 1px; */
}

/* From Uiverse.io by adamgiebl */
.thin-line {
  height: 5px; /* Adjust the thickness of the line */
  width: 90%;
  background-color: #ebebeb; /* Change to your preferred color */
  margin: 20px 0; /* Adjust spacing around the line */
  background: #9b59b6;
  border-radius: 5em;
}

.thin-line2 {
  height: 5px; /* Adjust the thickness of the line */
  width: 90%;
  background-color: #ebebeb; /* Change to your preferred color */
  margin: 20px 0; /* Adjust spacing around the line */
  background: #ffffff;
  border-radius: 5em;
}

.side1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40vh;
  height: 40vh;
  border-radius: 30px;
  background: #9b59b6; /* Violet color */
  box-shadow: inset 5px 5px 15px #6e2c91,
    /* Inner shadow */ inset -5px -5px 15px #00000000; /* Adjusted highlight */
}
.codingProfiles {
  display: flex;

  flex-direction: row;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  max-width: 190vh;
  width: 200vh;
  height: 3vh; /* Updated height */
  border-radius: 20px;
  background: #9b59b6; /* Violet color */
  box-shadow: 5px 5px 15px #6e2c91,
    /* Increased shadow size and opacity */ -5px -5px 15px #0000000a; /* Adjusted highlight */
  margin-top: -2vh;
  gap: 3em;
  padding: 2em;
  font-family: sans-serif;
  /* border: solid black 1px; */
}
.leetc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2em;
  min-width: 20vh;
  width: auto;
  padding-right: 2em;
  height: auto;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 1em;
  gap: 0.5em;

  box-shadow: 5px 5px 15px #6e2c91,
    /* Increased shadow size and opacity */ -5px -5px 15px #00000000; /* Adjusted highlight */
}
.leetc_img {
  width: 4vh;
  height: 4vh;

  background-image: url("https://img.icons8.com/?size=100&id=9L16NypUzu38&format=png&color=000000"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: solid black 1px; */
}

.codef {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2em;
  min-width: 20vh;
  width: auto;
  height: auto;
  padding-right: 2em;

  background-color: #fcfdff;
  color: rgb(0, 0, 0);
  border-radius: 1em;
  gap: 1em;
  box-shadow: 5px 5px 15px #6e2c91,
    /* Increased shadow size and opacity */ -5px -5px 15px #00000000; /* Adjusted highlight */
}
.codef_img {
  width: 4vh; /* Width of the element */
  height: 4vh; /* Height of the element */

  background-image: url("https://img.icons8.com/?size=100&id=jldAN67IAsrW&format=png&color=000000"); /* Replace with your image path */
  background-size: cover; /* Ensures the image covers the element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents image repetition */
}
#maxr {
  color: grey;
  font-size: 0.87em;
}
#mycp_title {
  font-size: 1em;
  color: white;
  background-color: #1f1e1e94;
  padding: 1em;
  border-radius: 0.5em;
}
#maxrc {
  color: rgb(111, 110, 110);
  padding: 0.3em;
  padding: 0.2 0.5em;
  background-color: rgba(0, 0, 0, 0.037);
  border-radius: 0.3em;
  border: solid rgba(170, 170, 170, 0.247) 1px;
  font-size: 0.7em;
}
#maxrc {
  position: relative; /* Required for positioning the tooltip */
}

#maxrc::after {
  content: "Check the profile"; /* Text for the tooltip */
  position: absolute; /* Positions the tooltip relative to #maxrc */
  bottom: 100%; /* Position above the element */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: #000000; /* Background color of the tooltip */
  color: #fff; /* Text color */
  padding: 5px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  white-space: nowrap; /* Prevents text from wrapping */
  opacity: 0; /* Hide tooltip by default */
  visibility: hidden; /* Hide tooltip by default */
  transition: opacity 0.3s; /* Smooth fade-in effect */
  margin-bottom: 1em;
  font-size: 0.8em;
  padding: 0.8em;
  box-shadow: 5px 5px 15px #353535,
    /* Increased shadow size and opacity */ -5px -5px 15px #00000000; /* Adjusted highlight */
}

#maxrc:hover::after {
  opacity: 1; /* Show tooltip on hover */
  visibility: visible; /* Show tooltip on hover */
}

#maxrc:hover {
  content: ""; /* Required to display the pseudo-element */
  display: block; /* Makes the pseudo-element a block-level element */
  color: #660899; /* Text color */
  border: solid 1px #660899;
  /* Add additional styling here */
}

.thin-line3 {
  height: 3px; /* Adjust the thickness of the line */
  width: 110%;
  background-color: #ebebeb; /* Change to your preferred color */
  /* Adjust spacing around the line */
  background: #ffffff;
  border-radius: 5em;
  margin-top: 8em;
}
.skills_ {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  width: 200vh;
  height: auto; /* Updated height */
  border-radius: 30px;
  background: #9b59b6; /* Violet color */
  box-shadow: 5px 5px 15px #6e2c91,
    /* Increased shadow size and opacity */ -5px -5px 15px #00000000; /* Adjusted highlight */
  /* margin-top: 4vh; */
  font-family: sans-serif;
}
.skills_ h1 {
  color: rgb(0, 0, 0);
  font-size: 3em;
  font-family: sans-serif;
}

.project_sec {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: auto;

  height: auto; /* Updated height */
  border-radius: 30px;
  background: #9b59b6; /* Violet color */
  box-shadow: 5px 5px 15px #6e2c91,
    /* Increased shadow size and opacity */ -5px -5px 15px #00000000; /* Adjusted highlight */
  margin-top: 4vh;
  padding: 3em;
  padding-left: 5em;
  padding-right: 9em;
}

.contactPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-width: 190vh;
  width: auto;
  height: auto; /* Updated height */
  border-radius: 30px;
  background: #9b59b6; /* Violet color */
  box-shadow: 5px 5px 15px #6e2c91,
    /* Increased shadow size and opacity */ -5px -5px 15px #00000000; /* Adjusted highlight */
  margin-top: 4vh;
  padding: 3em;
}
/* ---------------------------------- Footer ----------------------------- */

.homepage-footer {
  display: flex;
  background-color: #282c34;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  padding: 10px;
  height: 20vh;
  width: 100%; /* Ensure full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
/* Responsive Design */
@media (max-width: 1024px) {
  .homepage-header {
    height: auto;
  }

  .card1 {
    height: auto;
    width: auto;
    margin: 0 3em;
    padding: 0 5em;
  }
  .homepage-header nav ul li {
    height: auto;
  }
  .card2,
  .card {
    height: auto;
  }
  .card {
    width: auto;
    margin: 2em 2em;
    margin-left: 0em;
    margin-right: 0em;
  }
  .card_box1 {
    height: auto;
    width: auto;
    margin: 0 1em;
    margin-left: 0em;
    margin-right: 0em;
  }

  .codingProfiles {
    margin-top: 3em;
    flex-direction: column;
    min-width: 90vh;
    width: auto;
    max-width: 70vh;
    height: auto;
  }
  .codef,
  .leetc {
    width: 60vh;
    height: auto;

    min-height: 8vh;
  }
  .skills_ {
    width: auto;
  }
  .homepage-main {
    padding: 10px;
    gap: 1em;
  }

  .intro {
    flex-direction: column;
    gap: 1em;
  }
  .project_sec {
    width: auto;
    padding-right: 5em;
  }
}

@media (max-width: 768px) {
  .homepage-header nav ul {
    flex-direction: row;
    gap: 15px;
    
  }
  .card1 {
    
    width: 80%;
    
   
  }

  .card {
    margin-top: 0.4em;
    width: auto;
   
  }
  .card_box1{
width: auto;
  }
  #contact{
display: none;
  }
  .homepage-header {
    height: auto;
    padding: 10px;
  
  }

  .Dp {
    width: 15vh;
    height: 15vh;
  }

  .card,
  .side1 {
    padding: 1em;
  }
  .codingProfiles{
    width: auto;
    height: auto;
    flex-direction: column;
  }
  .codef{
    width: auto;
    height: auto;
  }.leetc{
    width: auto;
    height: auto;
  }
}

@media (max-width: 480px) {
  .homepage-header nav ul {
    gap: 10px;
  }

  .homepage-main {
    margin-top: 5em;
  }

  .card {
    padding: 1em;
    width: 95%;
  }

  .side1,
  .card2 {
    width: 95%;
    height: auto;
  }

  .thin-line,
  .thin-line2 {
    width: 100%;
  }
}
