.projects-page {
    padding: 20px;
    background-color: #2b2b2b; /* Dark grey background */
    min-height: 90vh;
    min-width: 170vh;
    box-shadow: 5px 5px 15px #6e2c91,
      /* Increased shadow size and opacity */ -5px -5px 15px #00000000; /* Adjusted highlight */
    border-radius: 2em;
    padding: 2em;
    font-family: sans-serif;
  }
  
  .projects-page h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    box-shadow: 5px 5px 15px #000000,
      /* Increased shadow size and opacity */ -5px -5px 15px #00000000; /* Adjusted highlight */
      padding: 3em;
  }
  
  .project-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 20px;
  }
  
  .project-image {
    width: 100%;
    height: auto;
  }
  
  
  .project-title {
    font-size: 1.5em;
    color: #333;
  }
  
  .project-description {
    font-size: 1em;
    color: #666;
  }
  
  .project-link {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .project-link:hover {
    text-decoration: underline;
  }
  
  .project-links {
    margin-top: 10px;
  }
  
  .social-icon {
    width: 24px;
    height: 24px;
    margin: 0 5px;
  }
  